.app-body {
	margin: 0 150px;
	max-width: 940px;
	box-sizing: border-box;
	position: relative;
}

table {
	border-collapse: collapse;
}

th {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	border-bottom: 1px solid #f2f2f2;
}

td {
	padding-top: 15px;
	padding-bottom: 15px;
	color: #808080;
	padding-left: 3px;
}

th, td {
	padding-right: 10px;
}

.column1 {
  padding-left: 20px;
  width: 16.7%;
}
.column2 {
  width: 16.6%;
  padding-left: 10px;
}
.column3 {
  width: 16.6%;
  padding-left: 10px;
}
.column4 {
  width: 16.6%
}
.column5 {
  width: 16.6%
}