.app-body {
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  border-bottom: 1px solid #f2f2f2;
}

td {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  color: #808080;
  width: 16.6%;
}

td > a {
  color: #808080;
}

.column1 {
  padding-left: 20px;
}

/* .cards-header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 10px 10px 15px;
  box-sizing: border-box;
  background-color: rgba(225, 106, 0, 0.8);
  border-radius: 10px;
  color: #ffffff;
  -webkit-box-shadow: 0 0px 5px 0px rgba(225, 106, 0, 0.75);
} */
